.colorpicker {
    margin: 20px;
}

#canvasToDrawContainer{
    display: flex;
    direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#tools{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-self: center;
}