.colorpicker {
    margin: 20px;
}

#canvasToDrawContainer{
    display: flex;
    direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#tools{
    background-color: white;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-self: center;
    margin-bottom: 30px;
    margin-left: 20px;
    padding: 20px;
    border-radius: 5px;
}

#buttons{
    display: flex;
    direction: row;
    justify-content: center;
    align-self: center;
}