h2 {
  margin-bottom: 16px;
  font-size: 14px;
}

.game-card {
  margin: 10px 10px 10px 10px;
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(199,148,233,1) 100%);
}

.create-game {
  margin-top: 100px !important;
}

.outer-paper {
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  width: 60%;
}
