.outer-paper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  width: 70%;
  text-align: center;
}

.phraseDisplay{
color: #339966;
font-size: 2em;
}

#answerDisplay{
  color: #660066;
  font-size: 1.5em;
}

.centered{
  margin: 0 auto;
}